body {
  margin: 0;
  padding: 0;
  font-family: 'Noto Sans TC', sans-serif !important;
  box-sizing: border-box;
  
  h1{
      font-size: 1.6rem;
  }
  h2{
      font-size: 1.2rem;
  }
  p{
      font-size: 0.8rem;
    }

}

.title-space{
  padding: 100px 0;
}
.p-space{
  padding: 30px 0;
}

html {
  font-size: 24px;
}

ul {
  margin: 0 !important;
  padding: 0;
}

li {
  list-style: none;
}

img {
  width: 100%;
}
.display-rwd{
  display: none;
  @media (max-width: 1183px) {

    display: block ;
  }
}

.svg {
  width: 16px;
  height: 16px;
}
.option{
  display: none ;
}
.option.active{
  display: block;
}

.wine-title-style{

  h1{
      @media (max-width: 768px) {

    font-size: 25px;
  }
      @media (max-width: 540px) {

        font-size: 15px;
      }
      @media (max-width: 360px) {

        font-size: 10px;
      }
  }


}

.wine-style{

  @media (max-width: 768px) {

    width: 80px !important;
  }

  @media (max-width: 568px) {

    width: 60px !important;
  }
  @media (max-width: 425px) {
    top: 0% !important;
    width: 30px !important;
  }
  
}
.navbar{
  padding: 0px !important;
  span{
    font-size: 1rem;
  }
.navbar-toggler{
  border-color: white !important;
}

}


// .navbar {
//   li{
//     display: inline-block;
//   }
//   .logo {
//     width: 113px;
//     height: 16px;
//   }

//   .menu {
//     display: block;

//     @media (max-width: 768px) {

//       display: none !important;
//     }

//     a {
//       margin: 0 18px;
//     }
//   }

//   .social {


//     .fb {
//       margin-right: 16px;

//     }


//   }

// }

.collapse{

  ul {
    li {
        color: white;
        padding: 0 10px;
        font-size: 0.75rem;
        a{
            color: white;
            text-decoration: none;
        }
    }
}
}
.main {

  .video{
    position: relative;
    overflow: hidden;

    .wine-title{
      color: white;
      position: absolute;
      top: 25%;
      left: 23%;
      bottom: 50%;
        @media (max-width: 1020px) {
          top: 11%;
      }
      @media (max-width: 407px) {
        top: 0%;
    }
    }
    .wine{
      position: absolute;
      right: 10%;
      bottom: 10%;

      @media (max-width: 1183px) {

        display: none !important;
      }

      .wine1{
        width: 110px;
      }
      .wine2{
        width: 110px;
      }
      .wine3{
        width: 110px;
      }

    }
  }

}
.wine-detail-bg{
  width: 100%;
  height: 50vh;
  background-image: url('/img/bg白州.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin-top: -10px;
  
}


.wine2-detail-bg{
  width: 100%;
  height: 50vh;
  background-image: url('/img/bg響.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin-top: -6px;
  
}


.wine3-detail-bg{
  width: 100%;
  height: 50vh;
  background-image: url('/img/bg山崎.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin-top: -6px;
  
}
