body {
  margin: 0;
  padding: 0;
  font-family: 'Noto Sans TC', sans-serif;
}

ul {
  margin: 0 !important;
  padding: 0;
}

li {
  list-style: none;
}

img {
  width: 100%;
}

.svg {
  width: 16px;
  height: 16px;
}
.option{
  display: none ;
}
.option.active{
  display: block;
}

// .wine-title-style{
//   @media (max-width: 768px) {

//     bottom: 10% !important;
//   }

// }

.wine-style{

  @media (max-width: 768px) {

    width: 80px !important;
  }

  @media (max-width: 568px) {

    width: 60px !important;
  }
}


.navbar {
  li{
    display: inline-block;
  }
  .logo {
    width: 155px;
    height: 25px;
  }

  .menu {
    display: block;

    @media (max-width: 768px) {

      display: none !important;
    }

    a {
      margin: 0 18px;
    }
  }

  .social {


    .fb {
      margin-right: 16px;

    }


  }

}

.main {

  .video{
    position: relative;

    .wine-title{
      color: white;
      position: absolute;
      top: 35%;
      left: 23%;
      bottom: 50%;
    }
    .wine{
      position: absolute;
      right: 10%;
      bottom: 10%;

      .wine1{
        width: 110px;
      }
      .wine2{
        width: 110px;
      }
      .wine3{
        width: 110px;
      }

    }
  }

}
.footer{
}